[[redirects]]
  from = "/*"
  to = "/"
  status = 200

[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[[functions]]
  path = "/api/proxy"
  node_bundler = "esbuild"
